.highlighter-rouge {
    margin: 10px;
}

.highlighter-rouge,
.file__content {
    position: relative;
}

.file__content {
    padding: 10px;
}


.file__content pre,
.file__content pre code,
.highlighter-rouge .md-check__code-block,
.highlighter-rouge .md-check__code-block pre,
.highlighter-rouge .md-check__code-block code,
.file__content .md-check__code-block,
.file__content .md-check__code-block pre,
.file__content .md-check__code-block code,
.execution__output,
.execution__output pre,
.execution__output .language-shell,
.shell {
    background-color: #333;
    color: #ddd;
    box-shadow: none;
}

.execution__output {
    display: block;
    color: #ddd;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.execution__output pre {
    margin: 0;
    padding: 0;
}

.shell {
    font-weight: bolder;
}

.stderr {
    color: red;
}

.stdout {
    //color: green;
}

.wrapper {
    display: grid;
    grid-template-areas: "nav content";
    grid-template-columns: 200px 1fr;
}

.usage__nav {
    grid-area: nav;
}

.usage {
    grid-area: content;
}


.code-block__btn {
    border: none;
    background-color: #0f79d0;
    color: #ddd;
    font-weight: bolder;
    padding: 5px;
}

.code-block__btn--copy {
    position: absolute;
    right: 10px;
    //bottom: -15px;
    z-index: 100;
}

.highlighter-rouge .code-block__btn {
    right: 0;
    //bottom: -25px ;
}

.file__content code,
code.highlighter-rouge {
    background-color: #ddd;
    color: #111;
    padding: 1px;
    margin: 0;
    display: inline-block;
}

.md-check__main {
    display: grid;
    grid-template-areas: "header header header" "sidebar content content" ". . footer";
    grid-template-columns: 300px 1fr;
}

.md-check__nav {
    grid-area: sidebar;
}

.md-check__footer {
    grid-area: footer;
    font-size: small;
}

.md-check__content {
    grid-area: content;
}
